@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Dancing Script", cursive;
  --color-black: #222;
  --color-white: #ffffff;
  --color-primary: #d61c22;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  color: var(--color-black);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .8rem;
}

@media screen and (max-width: 37.5em) {
  .header {
    display: flex;
    flex-direction: column;
  }
}

.header-logo-text {
  text-transform: capitalize;
}

.header-nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.header-nav-link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-black);
}

.hero {
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./assets/home-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.hero-subtitle,
.hero-maintitle {
  color: var(--color-white);
}

.hero-subtitle {
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-size: 6rem;
}

.hero-maintitle {
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
}

.hero-cta {
  display: inline-block;
  background-color: var(--color-primary);
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-white);
  padding: 1.5rem 2rem;
  border-radius: 10px;
}

@media screen and (max-width: 25em) {
  .hero-subtitle {
    font-size: 4rem;
  }

  .hero-maintitle {
    font-size: 4rem;
  }
}
